.warning {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 350px;
  margin: 20px;
  padding: 20px 10px 10px;
  border-radius: 10px;
  border: 1px solid grey;
  /* box-shadow: 30px 25px 5px rgb(255, 255, 255); */
  background-image: linear-gradient(0deg, white, rgb(183, 255, 15));
}
