.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 40px;
  margin: 4px;
  padding: 4px 26px;
  border-radius: 70%;
  background-color: rgb(145, 161, 214);
  text-justify: auto;
  text-align: center;
}
.button:hover {
  cursor: pointer;
}
.button:focus {
  background-color: rgb(255, 253, 162);
}
