.countryInfo {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 300px;
  min-width: 260px;
  min-height: 450px;
  margin-left: 50px;
  margin-top: 20px;
  padding: 20px 10px 10px;
  border-radius: 10px;
  border: 1px solid grey;
  /* box-shadow: 30px 25px 5px rgb(255, 255, 255); */
  background-image: linear-gradient(
    0deg,
    white,
    rgb(15, 207, 255)
  );
}

.countryInfo h2 ~ p {
  margin: 0;
  padding-bottom: 10px;
}
a[href="#statisticsInfo"],
a[href="#inputMenu"] {
  text-decoration: none;
}
