@import "../../variablesProfile";

.listItem {
  list-style-type: none;
  &__wrap {
    display: flex;
    align-items: flex-start;
    padding-bottom: 5px;
  }
  &__icon {
    width: 28px;
    object-fit: contain;
    margin: 0 30px 0 20px;
  }
  &__content,
  &__link {
    margin-bottom: 0;
    padding: auto 0;
    font-size: 18px;
    font-weight: 450;
    &::first-letter {
      color: $firstLetter-color;
    }
  }
}
