.App {
  // text-align: center;
  min-height: 100vh;
  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
  justify-content: center;
  background-color: rgb(245, 245, 245);
}

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-float infinite 5s ease-in-out;
//   }
// }
// /* vh / vw - it's 100% of device height/width, not a parents block  */
// .App-header {
//   font-size: calc(10px + 2vmin);
// }

// @keyframes App-logo-float {
//   0% {
//     transform: translateY(0);
//   }
//   50% {
//     transform: translateY(10px);
//   }
//   100% {
//     transform: translateY(0px);
//   }
// }
