@import "../../variables";

.accordion {
  width: 100%;
  border-radius: 20px;

  .accordion-item {
    border-radius: 20px;
    background: rgba(0, 0, 0, 0);
  }
}

.accordionItem__header {
  display: inline-block;
  width: 100%;
  &:hover {
    background: $accordionItem__hover;
    border-radius: 20px;
    background: rgb(240, 240, 255);
  }
  .accordionItem__title__icon {
    width: $accordionItem__title__icon__width;
    margin: 0 20px;
    border-radius: 50%;
  }
  .accordionItem__title__content {
    font-size: $accordionItem__title__font-size;
    font-weight: $accordionItem__title__font-weight;
    margin-left: $accordionItem__title__margin-left;
    margin-right: $accordionItem__title__margin-right;
    background: rgba(0, 0, 0, 0);
  }
  .accordion-button {
    background: rgba(0, 0, 0, 0);
    border-radius: 20px;
  }
}
.accordionBody__ul {
  @extend %ul_zero;
  background: rgba(0, 0, 0, 0);
  .accordionBody__link {
    text-align: center;
  }
}
// .accordion-item:last-of-type .accordion-button.collapsed,
// .accordion-item:last-of-type .accordion-collapse {
//   border-radius: 20px;
// }
