$button-radius: 5px;

%position__flex--center {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
%main-borders {
  border: 1px solid grey;
  border-radius: $button-radius;
}
%main-box-shadow {
  box-shadow: 10px 10px 10px rgb(100, 100, 100);
}
//-- map
$status-color: (
  male: rgb(128, 128, 250),
  female: rgb(252, 147, 147),
); //--\

.drug-cards {
  &__back-button {
    @extend %main-box-shadow;
  }

  &__header {
    width: 100%;
    text-align: center;
    text-shadow: 10px 10px 10px rgb(100, 100, 100);
  }

  &__nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    button {
      margin: 30px;
      @extend %main-borders;
      @extend %main-box-shadow;
      &:active {
        background-color: green;
      }
    }
  }

  &__container {
    @extend %position__flex--center;
    flex-wrap: wrap;
    min-width: 100vw;
  }
  &__card-deck {
    @extend %position__flex--center;
    margin: 20px;
  }
  &__first-card {
    position: relative;
    left: 15px;
    top: 15px;
    @extend %main-borders;
    @extend %main-box-shadow;
    background-color: rgb(174, 175, 120);
  }
  &__card-cover {
    z-index: 24;
    position: relative;
    left: 15px;
    top: 15px;
  }
  &__card {
    padding: 20px;
    padding-bottom: 0px;
    height: 300px;
    cursor: grab;
    z-index: 25;
    flex-direction: column;
    background-color: rgb(254, 255, 170);

    //--map
    @each $status, $color in $status-color {
      &--#{$status} {
        background-color: $color;
      }
    } //--\

    @extend %position__flex--center;
    @extend %main-borders;
    @extend %main-box-shadow;

    &--shine {
      background-color: rgb(247, 250, 56);
    }
  }
  &__user-img {
    width: 200px;
    height: 200px;
    @extend %main-box-shadow;
    @extend %main-borders;
  }
  &__user-name {
    text-align: center;
    margin-top: 10px;
    width: 200px;
    word-wrap: break-word;
  }
}
