$b-r: 5px;
%flex__center {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
%borders {
  border: 1px solid grey;
  border-radius: $b-r;
}
%box-shadow {
  box-shadow: 10px 10px 10px rgb(100, 100, 100);
}
//-- map
$status-color: (
  male: rgb(128, 128, 250),
  female: rgb(252, 147, 147),
); //--\

.drug-cards {
  &__back-button {
    box-shadow: "10px 10px 10px rgb(100, 100, 100)";
  }
  &__header {
    width: 100%;
    text-align: center;
    text-shadow: 10px 10px 10px rgb(100, 100, 100);
  }
}
.header {
  text-align: center;
  text-shadow: 10px 10px 10px rgb(100, 100, 100);
}
.dragCards {
  @extend %flex__center;
  flex-wrap: wrap;
  min-width: 100vw;
  min-height: 100vh;
  button {
    @extend %box-shadow;
  }
}

.card {
  //--map
  @each $status, $color in $status-color {
    &__#{$status} {
      background-color: $color;
    }
  } //--\

  @extend %flex__center;
  padding: 20px;
  padding-bottom: 0px;
  height: 300px;
  @extend %borders;
  background-color: rgb(254, 255, 170);
  @extend %box-shadow;
  cursor: grab;
  z-index: 25;
  &__shine {
    background-color: rgb(247, 250, 56);
  }
  &__img {
    width: 200px;
    height: 200px;
    @extend %box-shadow;
    @extend %borders;
  }
  &__title {
    @extend %flex__center;
    flex-wrap: wrap;
    width: 180px;

    margin: 10px;
  }
}
.CardDeckStyle {
  @extend %flex__center;
  margin: 20px;
}
.wrap {
  z-index: 24;
  position: relative;
  left: 15px;
  top: 15px;
}
.wrapperCard {
  position: relative;
  left: 15px;
  top: 15px;
  @extend %borders;
  @extend %box-shadow;
  background-color: rgb(174, 175, 120);
}
.newUsersButton {
  margin: 30px;
  @extend %borders;
  @extend %box-shadow;
  &:active {
    background-color: green;
  }
}

.buttonsRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
