$simpleCalc__border__radius: 20px;
$simpleCalc__bg-color: #cecbff;
$simpleCalc__padding: 10px;
$simpleCalc__border: 1px;
$button__color: linear-gradient(
  135deg,
  rgb(240, 240, 240),
  blue
);
$button__color__hover: linear-gradient(
  135deg,
  rgb(255, 255, 255),
  rgb(80, 80, 255)
);
$button__color__active: linear-gradient(
  135deg,
  rgb(255, 255, 255),
  rgb(80, 255, 173)
);
%flex-column {
  display: flex;
  flex-flow: column;
}

%border {
  border: $simpleCalc__border solid grey;
  border-radius: $simpleCalc__border__radius;
}
.simpleCalc {
  @extend %border;
  margin: 50px auto 0;
  width: 244px;
  box-sizing: border-box;
  align-items: center;
  padding: $simpleCalc__padding;
  background: $simpleCalc__bg-color;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.7);
  .simpleCalc__monitor {
    visibility: hidden;
    height: 120px;
    box-sizing: border-box;
  }
  .simpleCalc__selectors {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
  }
  .simpleCalc__form {
    @extend %flex-column;
    .simpleCalc__input {
      margin-bottom: 10px;
    }
    .simpleCalc__calculate {
      cursor: pointer;
      border-radius: 5px;
      background: $button__color;
      &:hover {
        background: $button__color__hover;
      }
      &:active {
        background: $button__color__active;
      }
    }
  }
  .results,
  .warning {
    @extend %flex-column, %border;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: yellow;
    overflow: auto;
    h2,
    h3 {
      margin: 0;
    }
  }
  .results::-webkit-scrollbar {
    height: 15px;
  }

  .results::-webkit-scrollbar-thumb {
    background: $simpleCalc__bg-color;
    border-radius: $simpleCalc__border__radius;
  }
}
