$radius-big: 20px;
$radius-btn: 5px;
$thickness-border: 1px;
$shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.7);
$color-border: grey;
$color-calc: #cecbff;
$color-main: linear-gradient(
  135deg,
  rgb(240, 240, 240),
  blue
);
$color__btn-hover: linear-gradient(
  135deg,
  rgb(255, 255, 255),
  rgb(80, 80, 255)
);
$color__btn-active: linear-gradient(
  135deg,
  rgb(255, 255, 255),
  rgb(80, 255, 173)
);
%flex-column {
  display: flex;
  flex-flow: column;
}
.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.simpleCalc {
  width: 244px;
  box-sizing: border-box;
  align-items: center;
  padding: 10px;
  border: $thickness-border solid $color-border;
  border-radius: $radius-big;
  background: $color-calc;
  box-shadow: $shadow;
  &__monitor {
    visibility: hidden;
    height: 120px;
    box-sizing: border-box;
  }
  &__selector {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
  }
  &__form {
    @extend %flex-column; //********
  }
  &__input {
    margin-bottom: 10px;
    input {
      width: 100%;
      border-radius: 5px;
    }
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 5px;
    margin-top: 15px;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 3px;
    border: 1px solid $color-border;
    border-radius: 5px;
    background-color: rgb(221, 221, 221);
    color: blue;
    box-shadow: $shadow;
    cursor: pointer;
    &:hover {
      background: $color__btn-hover;
    }
    &:active {
      background: $color__btn-active;
    }
    &-calculate {
      width: 100%;
      height: 30px;
    }
  }
  .results,
  .warning {
    @extend %flex-column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: yellow;
    overflow: auto;
    border: $thickness-border solid $color-border;
    border-radius: $radius-big;
    h2,
    h3 {
      margin: 0;
    }
    &::-webkit-scrollbar {
      height: 15px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $color-calc;
      border-radius: $radius-big;
    }
  }
  // .results::-webkit-scrollbar {
  //   height: 15px;
  // }

  // .results::-webkit-scrollbar-thumb {
  //   background-color: $color-calc;
  //   border-radius: $radius-big;
  // }
}
