$radius-big: 20px;
$radius-btn: 5px;
$thickness-border: 1px;
$shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.7);
$color-border: grey;
$color-calc: linear-gradient(
  white,
  rgb(226, 226, 255) 25%,
  rgb(226, 226, 255) 75%,
  white
);
$color-error: rgb(255, 188, 188);
$color-results: linear-gradient(
  rgb(211, 235, 255),
  rgb(187, 255, 155) 25%,
  rgb(187, 255, 155) 75%,
  rgb(211, 235, 255)
);
$color-btn: linear-gradient(
  white,
  rgb(226, 226, 255) 30%,
  rgb(226, 226, 255) 70%,
  white
);
$color-hover: rgb(255, 248, 144);
$color-btn-active: rgb(80, 255, 173);
$color-scroll: linear-gradient(
  90deg,
  white,
  rgb(176, 202, 223) 25%,
  rgb(176, 202, 223) 75%,
  white
);
%flex-column {
  display: flex;
  flex-flow: column;
}
%monitor {
  text-align: center;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-left: 5px;
  font: 22px Roboto;
  font-weight: bold;
  overflow: auto;
  border: $thickness-border solid $color-border;
  border-radius: $radius-big;
  -webkit-overflow-scrolling: auto;
  &::-webkit-scrollbar {
    height: 15px;
  }
  &::-webkit-scrollbar-thumb {
    background: $color-scroll;
    border-radius: $radius-big;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $color-hover;
  }
}
%mainBorder {
  border: $thickness-border solid $color-border;
  border-radius: $radius-big;
  background: $color-calc;
  box-shadow: $shadow;
}

.simpleCalc {
  display: block;
  @extend %mainBorder;
  position: relative;
  transition: width 1s ease-in-out;
  z-index: 1;
  &__main {
    display: inline-block;
    box-sizing: border-box;
    align-items: center;
    padding: 10px;
    @extend %mainBorder;
    width: 420px;
    z-index: 11;
  }

  &__screen {
    visibility: hidden;
    height: 120px;
    box-sizing: border-box;
    z-index: 12;
  }
  &__results {
    background: $color-results;
    @extend %monitor;
    z-index: 13;
  }
  &__warning {
    background-color: $color-error;
    @extend %monitor;
    z-index: 13;
  }
  &__BlockButtons {
    display: flex;
    justify-content: space-between;
    z-index: 12;
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 5px;
    margin-top: 15px;
    width: 200px;
    z-index: 13;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 3px;
    border: 1px solid $color-border;
    border-radius: 5px;
    background: $color-btn;
    color: blue;
    box-shadow: $shadow;
    transition: background 300ms;
    cursor: pointer;
    z-index: 14;
    &:hover {
      background: $color-hover;
    }
    &:active {
      background: $color-btn-active;
    }
  }
  &__sidePanel {
    @extend %mainBorder;
    position: absolute;
    right: 0px;
    top: 0;
    height: 100%;
    width: 360px;
    z-index: -1;
  }
  &__calendar {
    height: 50%;
    width: 100%;
    @extend %mainBorder;
    z-index: 2;
  }
  &__extraButtons {
    @extend %mainBorder;
    height: 50%;
    width: 100%;
    z-index: 2;
  }
  &__openCloseButton {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 173px;
    padding: 5px;
    z-index: 3;
    @extend %mainBorder;
    &:hover {
      cursor: pointer;
    }
  }
}
