@import "../../variables";
.list_item {
  list-style-type: none;
  .list_item__wrap {
    display: flex;
    align-items: flex-end;
    .list_item__icon {
      width: 30px;
      object-fit: scale-down;
      margin: 0 20px;
      border-radius: 50%;
    }
    .list_item__content {
      width: 100%;
      margin-bottom: 0;
      padding-bottom: 0;
      font-size: $list_item__content__font-size;
      font-weight: $list_item__content__font-weight;
      &::first-letter {
        color: $list_item__content__first_letter__color;
      }
    }
  }
}
