@import "../../variables";
.about_me {
  @extend %content_column;
  .about_me__header {
    @extend %flex-wrap;
    max-width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
    .about_me__avatar {
      width: 160px;
      margin-left: auto;
      margin-right: auto;
      object-fit: contain;
    }
    .about_me__wrap {
      display: block;
      margin: 0 auto;

      .about_me__title {
        display: flex;
        flex-direction: column;
        max-width: 270px;
        justify-content: center;
        align-items: center;
        text-align: center;
        .about_me__name {
          text-align: center;
        }
        .about_me__profession {
          font-size: 20px;
          font-weight: 500;
          margin: 30px 0 20px 0;
        }
        p {
          font-size: 18px;
        }
      }
    }
  }
}
